<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Catálogo Detalles Producto</title>
	<div th:replace="~{fragmentos :: bootstrap}"></div>
</head>
<body>
	<div th:replace="~{fragmentos :: menu}"></div>
	<div class="container mt-4">
		<h1>Detalles de Productos</h1>
		<a th:href="@{/rutaDetalleProductos/nuevo}" class="btn btn-primary mb-3" style="background-color: rgb(139, 29, 28);">➕ Nuevo Detalle</a>
		<table class="table table-bordered table-striped">
			<thead class="table-dark">
				<tr>
					<th>Producto</th>
					<th>Talla</th>
					<th>Color</th>
					<th>Cantidad</th>
					<th>Precio</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="det : ${detalles}">
					<td th:text="${det.productoNombre}"></td>
					<td th:text="${det.tallaNombre}"></td>
					<td th:text="${det.colorNombre}"></td>
					<td th:text="${det.cantidad}"></td>
					<td th:text="${det.precio}"></td>
					<td>
						<a th:href="@{'/rutaDetalleProductos/editar/' + ${det.uuid}}" class="btn btn-sm btn-warning">✏️ Editar</a>
						<a th:href="@{'/rutaDetalleProductos/eliminar/' + ${det.uuid}}" class="btn btn-sm btn-danger" onclick="return confirm('¿Estás Seguro?')">❌ Eliminar</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>