<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Catalogo Productos</title>
    <div th:replace="~{fragmentos :: bootstrap}"></div>
</head>
<body>
    <div th:replace="~{fragmentos :: menu}"></div>
    <div class="container mt-4">
        <h1>Catalogo de Productos</h1>
        <a th:href="@{/rutaProductos/nuevo}" class="btn btn-primary mb-3" style="background-color: rgb(139, 29, 28);">➕ Nuevo Producto</a>
        <table class="table table-bordered table-striped">
            <thead class="table-dark">
                <tr>
                    <th>Nombre del Producto</th>
                    <th>Descripción</th>
                    <th>Integrantes</th>
                    <th>Categoría</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="prod : ${productos}">
                    <td th:text="${prod.nombre}"></td>
                    <td th:text="${prod.descripcion}"></td>
                    <td th:text="${prod.integranteSeleccionado}"></td>
                    <td th:text="${prod.categoria.nombre}"></td>
                    <td>
                        <a th:href="@{'/rutaProductos/editar/' + ${prod.uuid}}" class="btn btn-sm btn-warning">✏️ Editar</a>
                        <a th:href="@{'/rutaProductos/eliminar/' + ${prod.uuid}}" class="btn btn-danger btn-sm" onclick="return confirm('¿Estás seguro de que deseas eliminar este producto?');">🗑️ Eliminar</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
