<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Catalogo Pedidos</title>
    <div th:replace="~{fragmentos :: bootstrap}"></div>
</head>
<body>
    <div th:replace="~{fragmentos :: menu}"></div>
    <div th:replace="~{fragmentos :: alertas}"></div>
    <div class="container mt-4">
        <h1>Catalogo de Pedidos</h1>
        <a th:href="@{/rutaPedidos/nuevo}" class="btn btn-primary mb-3" style="background-color: rgb(139, 29, 28);">➕ Nuevo Pedido</a>
        <table class="table table-bordered table-striped">
            <thead class="table-dark">
                <tr>
                    <th>Fecha / Hora</th>
                    <th>Total</th>
                    <th>Integrantes</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="ped : ${pedidos}">
					<td th:text="${#temporals.format(ped.fechaHora, 'dd/MM/yyyy hh:mm a')}"></td>
                    <td th:text="${ped.total}"></td>
                    <td th:text="${ped.integranteSeleccionado}"></td>
                    <td th:text="${ped.estado}"></td>
                    <td>
                        <a th:href="@{'/rutaPedidos/ver/' + ${ped.uuid}}" class="btn btn-sm btn-info text-white">Ver Detalles</a>
                        <a th:href="@{'/rutaPedidos/editar/' + ${ped.uuid}}" class="btn btn-sm btn-warning">✏️ Editar</a>
                        <a th:href="@{'/rutaPedidos/eliminar/' + ${ped.uuid}}" class="btn btn-sm btn-danger" onclick="return confirm('¿Estás seguro de que deseas eliminar este pedido y TODAS sus variantes? Esta acción no se puede deshacer.')">❌ Eliminar</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
